.heading_div{
    background-color:white;
    font-weight: bold;
    border-radius: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 17px;
    box-shadow: 5px 5px 18px black;
    margin-top: 30px;
    float: none;
    color: black;
}

.heading{
    margin-top:0px;
    width: 100%;
    font-size: 30px;
    box-shadow: 5px 5px 18px gray;
    padding-bottom: 20px;
}

.heading_div2{
    font-size: 17px;
}

body{
    text-align:center;
}